<!-- Comando magico es doc y tabulador para crear la estructura basica html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probatinas SPA</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    <script src ="/static/js/app.js"></script> <!-- Aqui lo estamos metiendo en una plantilla, como css, en vez de hacerlo aqui asi: 
    <script>
        alert("Hola, mundo")
    </script>-->
</head>
<body class="container">
    <h1>Pagina de prueba</h1>
    <form>
        <div>
            <label for="texto">Introduce un texto</label>
            <input type="text" name="texto" id="texto">
        </div>
        <div>
            <button id="btnSubmit">Crear</button>
        </div>
    </form>
    <section id="parrafos"><!-- Comando magico para poner la id section#parrafos y tabulador -->

    </section>
</body>
</html>