<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css"> <!--añadimos una barra delante para decirle que tiene que mirar desde el directorio raiz, no desde la ruta donde estamos-->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mi Cartera - {{ title }}</title> <!--Anadimos una variable y entonces se la pasamos cuando hacemos el render_template -->
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <p class="container">Mi cartera</p>
    </header>
    <section class="container">
        <h1>Movimientos</h1>
        <table id="table_movements">
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Moneda</th>
            </tr>
        </table>
    </section>
    <footer>
        <p>&copy; Iv3tt3</p>
    </footer>
</body>

</html>